#followed_by.gi
  #nav_panel
    #block
      %a{:href => followed_by_path(@user)}
        Люди
    #block.active
      %a{:href => followed_by_shop_path(@user)}
        Магазины
.grid_elemets
  =render partial: 'follow_elements'