:javascript
  $(document).ready(function() {
    // отписаться
    $(document).on("click", "#grid_elements a.unfollow", function(){
      var id = $(this).attr('id')

      $.post('/tracking/unfollow/'+id, function(data,status,xhr){
        $('.grid_elemets').html(data)
        showNotices('Подписка удалена')
      })
      return false
    })
  })
#followed_by.gi
  #nav_panel
    #block.active
      %a{:href => followed_by_path(@user)}
        Люди
    #block
      %a{:href => followed_by_shop_path(@user)}
        Магазины
.grid_elemets
  =render partial: 'follow_elements'