%p
  Здравствуйте? ) Пользователь 
  = link_to @item.user.name, user_show_url(@item.user)
  на которого вы подписаны, добавил товар
  = link_to @item.name, item_url(@item)

= link_to 'Хочули', root_url 

