:javascript
  $(document).ready(function() {
    // ручной выбор изображения
    $('#load_image').click(function(){$('#imgInp').click()})
    $('#input_load_image').click(function(){$('#imgInp').click()})

    // при выборе изображения запускаем диалог добавления товара
    $("#imgInp").change(function (){
      $('.first_step').css('display','block');
      $('.second_step').css('display','none');
      $('#itemmodal #select_collecton').css('display','block');
      $('#itemmodal').arcticmodal();
    });

    // добавление новой коллекции
    // select collection
    var cur_col = $('#select_collecton .current')

    $(cur_col).click(function(){
      $('#select_collecton .collectins').slideToggle()
    })

    $(document).on("click", "#select_collecton .collectins li", function(){
      $('#itemmodal #new_item #collection_id').val($(this).attr('id'))
      $(cur_col).text($(this).text())
      $(cur_col).attr('id',$(this).attr('id'))
      $(cur_col).click()
    })

    //add new collection
    $(document).on('ajax:success','#new_collection', function(s,data,x){
      if(typeof data == 'object'){
        showErrors(data.errors);
      }else{
        $('#select_collecton .collections_list').html(data);
        $('#select_collecton #new_collection input.new_collection').val('');

        //showNotices(["Комментарий успешно добавлен"]);
      }
    }); 

    // Действия при переходе ко второму шагу добавления товара
    $('#done').click(function(){
      var item_name = $('input#item_name').val();
      var item_url = $('input#item_url').val();

      if (item_url == ''){
        showErrors(['Введите адрес товара!']);
        return false
      }
      if (item_name != ''){
        $('li#item_name').text(item_name);
        $('.first_step').css('display','none');
        $('#itemmodal #select_collecton').css('display','none');
        $('.second_step').css('display','block');
      } else {
        showErrors(['Введите название товара!']);
      }
    });

    // вернуться назад
    $('#box-modal_prev').click(function(){
      $('.first_step').css('display','block')
      $('.second_step').css('display','none')
      $('#itemmodal #select_collecton').css('display','block');
    })

    // выбор пола
    $('span.sex').click(function(){
      var sex = $(this).attr('value');
      $('input#item_sex').val(sex);
      $('span.sex').addClass('blue_button');
      $('span.sex').removeClass('active');
      $(this).removeClass('blue_button');
      $(this).addClass('active');
    });
  });