#pololo
%iframe#framesite{:src => "/search/site?site[url]=#{@site}", :width => 790, :sandbox => "allow-scripts allow-same-origin"}
.g-hidden{:style => 'display: none'}
  .box-modal#new_item_modal
    .box-modal_close.arcticmodal-close
      Закрыть
    %span#title Добавить новый товар
    #image
    #full_url