= render partial: 'js'
.gi
  %ul#search_forms
    %li
      =form_tag({controller: "search", action: "frame"}, method: "get", class: "search_form") do
        =text_field :site, :url, placeholder: 'Вводим интернет адрес Интернет-магазина (alpha!)'
        =submit_tag("выбрать")
    %li
      %span Либо
    %li
      %form{:'accept-charset'=>"UTF-8", :action=>"/search/site", :class=>"search_form"}
        %input{placeholder: 'Ищем по названию товара, магазина или коллекции на сайте (не раб!)', :id => 'site_url', :name => 'site_url'}
        %input{:id => 'site_button',:type => 'submit', :value=>"OK"}
    %li
      %span Либо  
    %li.search_form
      %input{placeholder: 'Загружаем картинку товара с компа', :id => 'input_load_image'}
      %input{:id => 'load_image',:type => 'submit', :value=>"Загрузить"}
= render partial: 'add_item'