= render partial: 'js'
.gi
  %ul#search_forms
    %li
      %span А здесь мы добавляем товары. Это можно делать разными способами.
    %li
      %span Из любого Интернет-магазина:
    %li
      =form_tag({controller: "search", action: "frame"}, method: "get", class: "search_form") do
        =text_field :site, :url, placeholder: 'Вводим интернет адрес Интернет-магазина (alpha!)'
        =submit_tag("выбрать")
    %li
      %span Со своего компа:
    %li.search_form
      %input{placeholder: 'Загружаем картинку товара с компа', :id => 'input_load_image'}
      %input{:id => 'load_image',:type => 'submit', :value=>"Загрузить"}
    %li
      %span Или ищем по названию товара или магазина:
    %li
      =form_tag({controller: "search", action: "results"}, method: "get", class: "search_form") do
        =text_field :search,:q ,placeholder: 'Ищем по названию товара, магазина или коллекции на сайте'
        =submit_tag("OK")

= render partial: 'add_item'

.movie
  %p Если вы чего-то не поняли, посмотрите видео :)
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "380", :src => "//www.youtube.com/embed/Vp8aTLhR8hU", :width => "653"}
