:javascript
  $(document).ready(function() {
    // удаление item
    // иконка
    $('#user #grid_elements .element #preview').hover(
      function(){$(this).children('.remove').show()},
      function(){$(this).children('.remove').hide()}
    )

    $(document).on("click", "#user #grid_elements .element #preview span.remove", function(){
      var id = $(this).attr('id')
      var collection = $(this).parents('#grid_elements .element')

      $.post('/item/remove/'+id, function(data,status,xhr){
        showNotices(data.ans)
        collection.remove()
      })
      return false
    })
  })
-@items.each do |item|
  %section.element.ui-draggable{:id => "#{item.id}", :page => 1}
    #preview
      - if current_user == @user
        %span.remove{:id => "#{item.id}"}
      %a{:href => item_path(item), :style => "background: url(#{item.image.url(:medium)})"}
      -if(item.prise && item.prise != 0)
        #price=item.prise.to_s+' Р'
    #info
      #name=item.name
      #user
        =link_to item.user.name, user_show_path(item.user.id)
      #links
        #like
          %span.ico{id: item.id}
          %span=item.followers_count_cache
        #comments
          %span.ico
          %span= item.cached_comments
