#avatar.avatar
  =image_tag @user.avatar.url(:medium)
#user_about
  -unless @user.about.nil? || @user.about.empty?
    =@user.about
  -else
    -if @user == current_user
      Здесь отображается краткая информация о вас. Напишите немного о себе в
      =link_to "настройках профиля...", edit_user_registration_path, class: "blue"
    -else
      Пользователь не написал о себе ничего...
#block_buttons
  #block
    %a{href: followers_path(@user)}
      #col.big_arial=@user.count_user_followers
      -if @user.followers_new_count != 0 && @user == current_user
        #new='+' + @user.followers_new_count.to_s
      подписчиков
  #block
    %a{href: followed_by_path(@user)}
      #col.big_arial=@user.following_users_count
      -if @user.followed_by_new_count != 0 && @user == current_user
        #new='+' + @user.followed_by_new_count.to_s
      подписок
  #block
    %a{href: followed_by_shop_path(@user)}
      #col.big_arial 0
      //#new  
      магазинов
  -if user_signed_in? && current_user != @user
    -unless current_user.following?(@user) 
      #block.follow
        =link_to "подписаться", follow_path(@user)
    -else
      #block.unfollow
        =link_to "отписаться", unfollow_path(@user)
  -else
    #block