#user.gi
  .info
    =render partial: "user_info"
  #nav_panel
    =render partial: "nav_panel"
  -unless @items.empty?
    #grid_elements
      -unless @items.empty?
        =render partial: "items_grid"
  -else
    Коллекция пуста