#user.gi
  .info
    =render partial: "user_info"
  #nav_panel
    #block
      %a{:href => user_show_path(@user)}
        %span.big_arial=@items.length
        Вещей
    #block.active
      %a{:href => user_collections_path(@user)}
        %span.big_arial=@collections.length
        Коллекций
    #block
      %a{:href => mentions_path(@user)}
        %span.big_arial
          0
        Упоминаний
  -unless @collections.empty?
    #grid_elements
      -@collections.each do |collection|
        %section.collection_element{:id => "#{collection.id}"}
          #preview
            %a{:href => user_collection_path(@user,collection)}
              -unless collection.following_by_type('Item').limit(4).order("created_at DESC").empty?
                -collection.following_by_type('Item').limit(4).order("created_at DESC").each do |item|
                  #item{:style => "background: url(#{item.image.url(:small)})"}
          #info
            =link_to collection.title, '#'
  -else
    .con_h
      %h2
        Пока нет ни одной коллекции