#user.gi
  .info
    =render partial: "user_info"
  #nav_panel
    =render partial: "nav_panel"
  -unless @mentions.empty?
    %ul.mentions_list   
      -@mentions.each do |mention|
        %li.comnt_list
          %a{:href => "#{user_show_path(mention.comment.user)}", :id => "avatar"}
            =image_tag mention.comment.user.avatar.url(:esmall)
          #comment
            #info
              = link_to mention.comment.user.name, user_show_path(mention.comment.user), :title => '@'+mention.comment.user.nickname
              %span.litllnickname= ' (@'+(mention.comment.user.nickname.blank? || mention.comment.user.nickname == mention.comment.user.id.to_s ? 'I_AM' : mention.comment.user.nickname)+')'
              = ', '+time_ago_in_words(mention.comment.created_at)+' назад, в комментариях к товару '
              =link_to mention.comment.item.name, item_path(mention.comment.item), style: "text-decoration: underline;"
            #text
              =simple_format(mention.comment.content)
  -else
    .con_h
      %h2
        Вас никто не упоминал в комментариях