#user.gi
  #info
    #avatar.avatar
    #user_about= @user.about
    #block_buttons
      #block
        подписчиков
      #block
        подписок
      #block
        магазинов
      #block
        подписаться
  #nav_panel
    #block Вещи
    #block Коллекции
    #block Упоминания
  #user_content
    Содержимое
