#user.gi
  #info
    #avatar.avatar
      =image_tag @current_user.avatar.url(:medium)
    #user_about= @user.about
    #block_buttons
      #block
        подписчиков
      #block
        подписок
      #block
        магазинов
      #block
        подписаться
  #nav_panel
    #block
      %a{:href => '#'}
        %span.big_arial
          30
        Вещей
    #block.active
      %a{:href => '#'}
        %span.big_arial
          5
        Коллекций
    #block
      %a{:href => '#'}
        %span.big_arial
          10
        Упоминаний
  #grid_elemets
    %section#element
      #preview
        %a{:href => ""}/
        #price 32145 Р
      #info
        #name Пылесос Tomson 2012
        #user
          %a{:href => ""} Анна Макарова
        #links
          #like
            %a{:href => "#"} &nbsp
            %span 146
          #comments
            %a{:href => "#"} &nbsp
            %span 28
    %section#element
      #preview
        %a{:href => ""}
      #info
        #name Пылесос Tomson 2012
        #user
          %a{:href => ""} Анна Макарова
        #links
          #like
            %a{:href => "#"} &nbsp
            %span 146
          #comments
            %a{:href => "#"} &nbsp
            %span 28
    %section#element
      #preview
        %a{:href => ""}
      #info
        #name Пылесос Tomson 2012
        #user
          %a{:href => ""} Анна Макарова
        #links
          #like
            %a{:href => "#"} &nbsp
            %span 146
          #comments
            %a{:href => "#"} &nbsp
            %span 28
    %section#element
      #preview
        %a{:href => ""}
      #info
        #name Пылесос Tomson 2012
        #user
          %a{:href => ""} Анна Макарова
        #links
          #like
            %a{:href => "#"} &nbsp
            %span 146
          #comments
            %a{:href => "#"} &nbsp
            %span 28
    %section#element
      #preview
        %a{:href => ""}
      #info
        #name Пылесос Tomson 2012
        #user
          %a{:href => ""} Анна Макарова
        #links
          #like
            %a{:href => "#"} &nbsp
            %span 146
          #comments
            %a{:href => "#"} &nbsp
            %span 28
    %section#element
      #preview
        %a{:href => ""}
      #info
        #name Пылесос Tomson 2012
        #user
          %a{:href => ""} Анна Макарова
        #links
          #like
            %a{:href => "#"} &nbsp
            %span 146
          #comments
            %a{:href => "#"} &nbsp
            %span 28
    %section#element
      #preview
        %a{:href => ""}
      #info
        #name Пылесос Tomson 2012
        #user
          %a{:href => ""} Анна Макарова
        #links
          #like
            %a{:href => "#"} &nbsp
            %span 146
          #comments
            %a{:href => "#"} &nbsp
            %span 28
