#user.gi
  .info
    =render partial: "user_info"
  #nav_panel
    =render partial: "nav_panel"
  -unless @items.empty?      
    #grid_elements
      =render partial: "items_grid"
  -else
    .con_h
      %h2
        У вас нет ни одного товара. Для того чтобы добавить новый товар, сделай
        =link_to "серч...", search_path, class: "ellow"