#user.gi
  .info
    =render partial: "user_info"
  #nav_panel
    #block.active
      %a{:href => user_show_path(@user)}
        %span.big_arial=@items.length
        Вещей
    #block
      %a{:href => user_collections_path(@user)}
        %span.big_arial=@collections.length
        Коллекций
    #block
      %a{:href => mentions_path(@user)}
        %span.big_arial=@mentions.length
        Упоминаний
  -unless @items.empty?      
    #grid_elements
      =render partial: "items_grid"
  -else
    .con_h
      %h2
        У вас нет ни одного товара. Для того чтобы добавить новый товар, сделай
        =link_to "серч...", search_path, class: "ellow"