#user.gi
  #info
    #avatar.avatar
      =image_tag @current_user.avatar.url(:medium)
    #user_about= @user.about
    #block_buttons
      #block
        подписчиков
      #block
        подписок
      #block
        магазинов
      #block
        подписаться
  #nav_panel
    #block
      %a{:href => '#'}
        %span.big_arial
          30
        Вещей
    #block.active
      %a{:href => '#'}
        %span.big_arial
          5
        Коллекций
    #block
      %a{:href => '#'}
        %span.big_arial
          10
        Упоминаний
  #grid_elemets
    -unless @items.empty?
      -@items.each do |item|
        %section.element{:id => "#{item.id}"}
          #preview
            %a{:href => "", :style => "background: url(#{item.image.url(:medium)})"}/
            #price=item.prise ? item.prise.to_s+' Р' : '0 Р'
          #info
            #name=item.name
            #user
              =link_to item.user.name, user_show_path(item.user.id)
            #links
              #like
                %a{:href => "#"} &nbsp
                %span 146
              #comments
                %a{:href => "#"} &nbsp
                %span 28
    -else
      Пока не добавоено ни одного товара