<div id='grid_elemets' class='g2'>
  <section id="element">
    <div id='preview'><a href=""></a></div>
    <div id='info'>
      <div id='name'>Пылесос Tomson 2012</div>
      <div id='user'><a href="">Анна Макарова</a></div>
      <div id='links'>
        <div id='like'>
          <a href="#">&nbsp</a>
          <span>146</span>
        </div>
        <div id='comments'>
          <a href="#">&nbsp</a>
          <span>28</span>
        </div>
      </div>
    </div>
  </section>

  <section id="element">
    <div id='preview'><a href=""></a></div>
    <div id='info'>
      <div id='name'>Пылесос Tomson 2012</div>
      <div id='user'><a href="">Анна Макарова</a></div>
      <div id='links'>
        <div id='like'>
          <a href="#">&nbsp</a>
          <span>146</span>
        </div>
        <div id='comments'>
          <a href="#">&nbsp</a>
          <span>28</span>
        </div>
      </div>
    </div>
  </section>

  <section id="element">
    <div id='preview'><a href=""></a></div>
    <div id='info'>
      <div id='name'>Пылесос Tomson 2012</div>
      <div id='user'><a href="">Анна Макарова</a></div>
      <div id='links'>
        <div id='like'>
          <a href="#">&nbsp</a>
          <span>146</span>
        </div>
        <div id='comments'>
          <a href="#">&nbsp</a>
          <span>28</span>
        </div>
      </div>
    </div>
  </section>

  <section id="element">
    <div id='preview'><a href=""></a></div>
    <div id='info'>
      <div id='name'>Пылесос Tomson 2012</div>
      <div id='user'><a href="">Анна Макарова</a></div>
      <div id='links'>
        <div id='like'>
          <a href="#">&nbsp</a>
          <span>146</span>
        </div>
        <div id='comments'>
          <a href="#">&nbsp</a>
          <span>28</span>
        </div>
      </div>
    </div>
  </section>

  <section id="element">
    <div id='preview'><a href=""></a></div>
    <div id='info'>
      <div id='name'>Пылесос Tomson 2012</div>
      <div id='user'><a href="">Анна Макарова</a></div>
      <div id='links'>
        <div id='like'>
          <a href="#">&nbsp</a>
          <span>146</span>
        </div>
        <div id='comments'>
          <a href="#">&nbsp</a>
          <span>28</span>
        </div>
      </div>
    </div>
  </section>

  <section id="element">
    <div id='preview'><a href=""></a></div>
    <div id='info'>
      <div id='name'>Пылесос Tomson 2012</div>
      <div id='user'><a href="">Анна Макарова</a></div>
      <div id='links'>
        <div id='like'>
          <a href="#">&nbsp</a>
          <span>146</span>
        </div>
        <div id='comments'>
          <a href="#">&nbsp</a>
          <span>28</span>
        </div>
      </div>
    </div>
  </section>

  <section id="element">
    <div id='preview'><a href=""></a></div>
    <div id='info'>
      <div id='name'>Пылесос Tomson 2012</div>
      <div id='user'><a href="">Анна Макарова</a></div>
      <div id='links'>
        <div id='like'>
          <a href="#">&nbsp</a>
          <span>146</span>
        </div>
        <div id='comments'>
          <a href="#">&nbsp</a>
          <span>28</span>
        </div>
      </div>
    </div>
  </section>

</div>
<div id='right_comments'>
  <section id="comment">
    <div id='name' class=''><a href="#">Пылесос Tomson 2012</a></div>
    <div id='info' class=''>Илья Долинин, Москва</div>
    <span class='comment'>Полная фигня, такое не куплю никогда.</span>
  </section>
  <section id="comment">
    <div id='name' class=''><a href="#">Кеды Adidas</a></div>
    <div id='info' class=''>Анна Филатова, Москва</div>
    <span class='comment'>Прикольные кеды, я когда первый раз надела, мне показалось...</span>
  </section>
    <section id="comment">
    <div id='name' class=''><a href="#">Пылесос Tomson 2012</a></div>
    <div id='info' class=''>Илья Долинин, Москва</div>
    <span class='comment'>Полная фигня, такое не куплю никогда.</span>
  </section>
  <section id="comment">
    <div id='name' class=''><a href="#">Кеды Adidas</a></div>
    <div id='info' class=''>Анна Филатова, Москва</div>
    <span class='comment'>Прикольные кеды, я когда первый раз надела, мне показалось...</span>
  </section>
    <section id="comment">
    <div id='name' class=''><a href="#">Пылесос Tomson 2012</a></div>
    <div id='info' class=''>Илья Долинин, Москва</div>
    <span class='comment'>Полная фигня, такое не куплю никогда.</span>
  </section>
  <section id="comment">
    <div id='name' class=''><a href="#">Кеды Adidas</a></div>
    <div id='info' class=''>Анна Филатова, Москва</div>
    <span class='comment'>Прикольные кеды, я когда первый раз надела, мне показалось...</span>
  </section>
</div>
