<div id='grid_elemets'>
  <section id="element">
    <div id='preview'></div>
    <div id='info'>
      
    </div>
  </section>

  <section id="element">
    <div id='preview'></div>
    <div id='info'>
      
    </div>
  </section>

  <section id="element">
    <div id='preview'></div>
    <div id='info'>
      
    </div>
  </section>

</div>
