<div id='grid_elemets' class='g2'>
  <section id="element">
    <div id='preview'></div>
    <div id='info'>
      
    </div>
  </section>

  <section id="element">
    <div id='preview'></div>
    <div id='info'>
      
    </div>
  </section>

  <section id="element">
    <div id='preview'></div>
    <div id='info'>
      
    </div>
  </section>

  <section id="element">
    <div id='preview'></div>
    <div id='info'>
      
    </div>
  </section>

  <section id="element">
    <div id='preview'></div>
    <div id='info'>
      
    </div>
  </section>

  <section id="element">
    <div id='preview'></div>
    <div id='info'>
      
    </div>
  </section>

  <section id="element">
    <div id='preview'></div>
    <div id='info'>
      
    </div>
  </section>

  <section id="element">
    <div id='preview'></div>
    <div id='info'>
      
    </div>
  </section>

</div>
<div id='right_comments'>
  <section>
    Блок коментария
  </section>
</div>
