:javascript
  function loadMore(){
    var ajaxloader = $('#ajax-loader')
    var time = $('.tape_list li').last().attr('time')

    $(ajaxloader).show()
    $.post('/tape/'+time, function(data,status,xhr){
        $(".tape_list").append(data)
        add_draggable()
        $(window).bind('scroll', bindScroll)
      }).always(function() { ajaxloader.hide() })
  }

  function bindScroll(){
    if($(window).scrollTop() + $(window).height() > $(document).height() - 100) {
      $(window).unbind('scroll')
      loadMore()
    }
  }

  $(window).scroll(bindScroll)

  function preload(){
    var time = $('.tape_list li').last().attr('time')
    var ajaxloader = $('#ajax-loader')

    $(ajaxloader).show()
    $.post('/tape/'+time, function(data,status,xhr){
          if (data.status == 0){
            $('#grid_elemets').attr('page','stop')
          }else{
            $(".tape_list").append(data)
            add_draggable()
            if ($('#tape').height() < $(window).height()){ preload() }
          }
      }).always(function() { ajaxloader.hide() })
  }

  $(document).ready(function() {
    preload();
  })
#tape.gi
  %ul.tape_list
    %li{:time => @from_time}
  #ajax-loader{:style => "display: none;"}