#grid_elemets
  %section#element
    #preview
      %a{:href => ""}/
      #price 32145 Р
    #info
      #name Пылесос Tomson 2012
      #user
        %a{:href => ""} Анна Макарова
      #links
        #like
          %a{:href => "#"} &nbsp
          %span 146
        #comments
          %a{:href => "#"} &nbsp
          %span 28
  %section#element
    #preview
      %a{:href => ""}
    #info
      #name Пылесос Tomson 2012
      #user
        %a{:href => ""} Анна Макарова
      #links
        #like
          %a{:href => "#"} &nbsp
          %span 146
        #comments
          %a{:href => "#"} &nbsp
          %span 28
  %section#element
    #preview
      %a{:href => ""}
    #info
      #name Пылесос Tomson 2012
      #user
        %a{:href => ""} Анна Макарова
      #links
        #like
          %a{:href => "#"} &nbsp
          %span 146
        #comments
          %a{:href => "#"} &nbsp
          %span 28
  %section#element
    #preview
      %a{:href => ""}
    #info
      #name Пылесос Tomson 2012
      #user
        %a{:href => ""} Анна Макарова
      #links
        #like
          %a{:href => "#"} &nbsp
          %span 146
        #comments
          %a{:href => "#"} &nbsp
          %span 28
  %section#element
    #preview
      %a{:href => ""}
    #info
      #name Пылесос Tomson 2012
      #user
        %a{:href => ""} Анна Макарова
      #links
        #like
          %a{:href => "#"} &nbsp
          %span 146
        #comments
          %a{:href => "#"} &nbsp
          %span 28
  %section#element
    #preview
      #price 32145 Р
      %a{:href => ""}
    #info
      #name Пылесос Tomson 2012
      #user
        %a{:href => ""} Анна Макарова
      #links
        #like
          %a{:href => "#"} &nbsp
          %span 146
        #comments
          %a{:href => "#"} &nbsp
          %span 28
  %section#element
    #preview
      %a{:href => ""}
    #info
      #name Пылесос Tomson 2012
      #user
        %a{:href => ""} Анна Макарова
      #links
        #like
          %a{:href => "#"} &nbsp
          %span 146
        #comments
          %a{:href => "#"} &nbsp
          %span 28
