:javascript
  function loadMore(){
    var ajaxloader = $('#ajax-loader')
    var page = $('#grid_elemets').attr('page')
    page = parseInt(page) + 1

    $(ajaxloader).show()
    $.post('/items/popular/'+page, function(data,status,xhr){
        if (data.status == 0){
          $('#grid_elemets').attr('page','stop')
        }else{
          $("#grid_elemets").append(data)
          add_draggable()
          $(window).bind('scroll', bindScroll)
          $('#grid_elemets').attr('page',page)
        }
    }).always(function() { ajaxloader.hide() })
  }

  function bindScroll(){
    if($(window).scrollTop() + $(window).height() > $(document).height() - 100) {
      if ($('#grid_elemets').attr('page') != 'stop') {
        $(window).unbind('scroll');
        loadMore();
      }
    }
  }

  $(window).scroll(bindScroll)
#grid_elemets{:page => 1}
  -unless @items.empty?
    =render partial: "users/items_grid"