<div id='grid_elemets' class='g3'>
  <section id="element">
    <div id='preview'><a href=""><div id='price'>32145 Р</div></a></div>
    <div id='info'>
      <div id='name'>Пылесос Tomson 2012</div>
      <div id='user'><a href="">Анна Макарова</a></div>
      <div id='links'>
        <div id='like'>
          <a href="#">&nbsp</a>
          <span>146</span>
        </div>
        <div id='comments'>
          <a href="#">&nbsp</a>
          <span>28</span>
        </div>
      </div>
    </div>
  </section>

  <section id="element">
    <div id='preview'><a href=""></a></div>
    <div id='info'>
      <div id='name'>Пылесос Tomson 2012</div>
      <div id='user'><a href="">Анна Макарова</a></div>
      <div id='links'>
        <div id='like'>
          <a href="#">&nbsp</a>
          <span>146</span>
        </div>
        <div id='comments'>
          <a href="#">&nbsp</a>
          <span>28</span>
        </div>
      </div>
    </div>
  </section>

  <section id="element">
    <div id='preview'><a href=""></a></div>
    <div id='info'>
      <div id='name'>Пылесос Tomson 2012</div>
      <div id='user'><a href="">Анна Макарова</a></div>
      <div id='links'>
        <div id='like'>
          <a href="#">&nbsp</a>
          <span>146</span>
        </div>
        <div id='comments'>
          <a href="#">&nbsp</a>
          <span>28</span>
        </div>
      </div>
    </div>
  </section>

  <section id="element">
    <div id='preview'><a href=""></a></div>
    <div id='info'>
      <div id='name'>Пылесос Tomson 2012</div>
      <div id='user'><a href="">Анна Макарова</a></div>
      <div id='links'>
        <div id='like'>
          <a href="#">&nbsp</a>
          <span>146</span>
        </div>
        <div id='comments'>
          <a href="#">&nbsp</a>
          <span>28</span>
        </div>
      </div>
    </div>
  </section>

  <section id="element">
    <div id='preview'><a href=""></a></div>
    <div id='info'>
      <div id='name'>Пылесос Tomson 2012</div>
      <div id='user'><a href="">Анна Макарова</a></div>
      <div id='links'>
        <div id='like'>
          <a href="#">&nbsp</a>
          <span>146</span>
        </div>
        <div id='comments'>
          <a href="#">&nbsp</a>
          <span>28</span>
        </div>
      </div>
    </div>
  </section>

  <section id="element">
    <div id='preview'><div id='price'>32145 Р</div><a href=""></a></div>
    <div id='info'>
      <div id='name'>Пылесос Tomson 2012</div>
      <div id='user'><a href="">Анна Макарова</a></div>
      <div id='links'>
        <div id='like'>
          <a href="#">&nbsp</a>
          <span>146</span>
        </div>
        <div id='comments'>
          <a href="#">&nbsp</a>
          <span>28</span>
        </div>
      </div>
    </div>
  </section>

  <section id="element">
    <div id='preview'><a href=""></a></div>
    <div id='info'>
      <div id='name'>Пылесос Tomson 2012</div>
      <div id='user'><a href="">Анна Макарова</a></div>
      <div id='links'>
        <div id='like'>
          <a href="#">&nbsp</a>
          <span>146</span>
        </div>
        <div id='comments'>
          <a href="#">&nbsp</a>
          <span>28</span>
        </div>
      </div>
    </div>
  </section>