:javascript
  $(document).ready(function() {

    // comment
    var submit = $('#comment-form #send_comment')
    var input = $('#comment_content')

    $(input).on('input', function(){
      if ($(this).val() == ''){
        $(submit).fadeOut()
      } else {
        $(submit).fadeIn()
      }
    })

    // select collection
    var cur_col = $('#select_collecton .current')

    $(cur_col).click(function(){
      $('#select_collecton .collectins').slideToggle()
    })

    $('#select_collecton .collectins li').click(function(){
      $(cur_col).text($(this).text())
      $(cur_col).attr('id',$(this).attr('id'))
      $(cur_col).click()
    })
  })
#item.gi
  #right
    #image
      =image_tag(@item.image.url(:big))
    #comments
      #comment_form
        %a{:href => "#{user_show_path(current_user)}"}
          =image_tag current_user.avatar.url(:esmall) 
        =form_for @comment,url: "/item/#{@item.id}/comment", html: {class: "answer_comnt", method: :post, id: "comment-form", remote: true} do |f|
          =f.text_area :content, :placeholder => "комментарий, @упоминание, #хэштэг"
          =f.submit "сказать", :id => 'send_comment', :style => 'display: none;'
      .comnt_list
        = render partial: 'shared/comments'
  #left
    #user
      %a{:href => user_show_path(@user)}
        =image_tag @user.avatar.url(:small)
      =link_to @user.name, user_show_path(@user)
      добавил эту вещь несколько дней назад.
    #store
      Магазин: 
      =link_to "www.sitesite.com", "#", class: "ellow"
    #buttons
      #li
        #button
          %a.button.blue_button{:href => "#", :onclick => '$(\'#select_collecton\').arcticmodal()'}Хочу
        #info
          =@item.cached_votes_total
          %span.big_hart
      #li
        #button
          %a.button.ellow_button{:href => "#"}Беру
        #info=@item.prise.to_s+' руб'
    #followers
      %a{:href => "#"}=image_tag @user.avatar.url(:esmall)
      %a{:href => "#"}=image_tag @user.avatar.url(:esmall)
      %a{:href => "#"}=image_tag @user.avatar.url(:esmall)
      %a{:href => "#"}=image_tag @user.avatar.url(:esmall)
      %a{:href => "#"}=image_tag @user.avatar.url(:esmall)
      %a{:href => "#"}=image_tag @user.avatar.url(:esmall)
      %a{:href => "#"}=image_tag @user.avatar.url(:esmall)
      %a{:href => "#"}=image_tag @user.avatar.url(:esmall)
    #collections
      Добавленно в коллекции:
      %a{:href => "#"} Вещи на выхожные
      ,
      %a{:href => "#"} В отпуск
      ,
      %a{:href => "#"} Моему
    #tags
      Отмечено тэгами:
      %a{:href => "#"} #мужское
      %a{:href => "#"} #черное
      %a{:href => "#"} #круто
    #follow
      %a{:href => "#"}
        Подписаться
.g-hidden{:style => 'display: none'}
  .box-modal#select_collecton
    .box-modal_close.arcticmodal-close
      Закрыть
    #collection 
      .current{:id => -1, :item => @item.id} коллекция
      .collectins{:style => 'display: none'}
        .collections_list
          %ul
            -@collections.each do |collection|
              %li{:id => collection.id}= collection.title
        .new_collectin{:style => 'display: none'}
          %form.new_collection
            %input{:placeholder => 'новая коллекция', :class => 'new_collection'}
            %input{:value => 'ок', :type => 'submit', :class => 'submit'}
      %span.submit Добавить