:javascript
  $(document).ready(function() {
    var submit = $('#comment-form #send_comment')
    var input = $('#comment_content')

    $(input).on('input', function(){
      if ($(this).val() == ''){
        $(submit).fadeOut()
      } else {
        $(submit).fadeIn()
      }
    })
  })
#item.gi
  #right
    #image
      =image_tag(@item.image.url(:big))
    #comments
      #comment_form
        %a{:href => "#{user_show_path(current_user)}"}
          =image_tag current_user.avatar.url(:esmall) 
        =form_for @comment,url: "/item/#{@item.id}/comment", html: {class: "answer_comnt", method: :post, id: "comment-form", remote: true} do |f|
          =f.text_area :content, :placeholder => "комментарий, @упоминание, #хэштэг"
          =f.submit "сказать", :id => 'send_comment', :style => 'display: none;'
      .comnt_list
        = render partial: 'shared/comments'
  #left
    #user
      %a{:href => user_show_path(@user)}
        =image_tag @user.avatar.url(:small)
      =link_to @user.name, user_show_path(@user)
      добавил эту вещь несколько дней назад.
    #store
      Магазин: 
      =link_to "www.sitesite.com", "#", class: "ellow"
    #buttons
      #li
        #button
          %a.button.blue_button{:href => "#"}Хочу
        #info
          =@item.cached_votes_total
          %span.big_hart
      #li
        #button
          %a.button.ellow_button{:href => "#"}Беру
        #info=@item.prise.to_s+' руб'
    #followers
      %a{:href => "#"}=image_tag @user.avatar.url(:esmall)
      %a{:href => "#"}=image_tag @user.avatar.url(:esmall)
      %a{:href => "#"}=image_tag @user.avatar.url(:esmall)
      %a{:href => "#"}=image_tag @user.avatar.url(:esmall)
      %a{:href => "#"}=image_tag @user.avatar.url(:esmall)
      %a{:href => "#"}=image_tag @user.avatar.url(:esmall)
      %a{:href => "#"}=image_tag @user.avatar.url(:esmall)
      %a{:href => "#"}=image_tag @user.avatar.url(:esmall)
    #collections
      Добавленно в коллекции:
      %a{:href => "#"} Вещи на выхожные
      ,
      %a{:href => "#"} В отпуск
      ,
      %a{:href => "#"} Моему
    #tags
      Отмечено тэгами:
      %a{:href => "#"} #мужское
      %a{:href => "#"} #черное
      %a{:href => "#"} #круто
    #follow
      %a{:href => "#"}
        Подписаться
