:javascript
  $(document).ready(function() {

    // comment
    var submit = $('#comment-form #send_comment')
    var input = $('#comment_content')

    $(input).on('input', function(){
      if ($(this).val() == ''){
        $(submit).fadeOut()
      } else {
        $(submit).fadeIn()
      }
    })
  })
#item.gi
  #right
    #image
      =image_tag(@item.image.url(:big))
    #comments
      -if user_signed_in?
        =render partial: 'shared/comment_form'
      .comnt_list
        = render partial: 'shared/comments'
  #left
    #user
      %a{:href => user_show_path(@user)}
        =image_tag @user.avatar.url(:small)
      =link_to @user.name, user_show_path(@user)
      %span.litllnickname=' (@'+(@user.nickname.blank? || @user.nickname == @user.id.to_s ? 'I_AM' : @user.nickname)+')'
      =' добавил эту вещь '+time_ago_in_words(@item.created_at)+' назад.'
    - if user_signed_in? && @user != current_user
      #follow
        -unless current_user.following?(@user) 
          =link_to "подписаться", follow_path(@user)
        -else
          =link_to "отписаться", unfollow_path(@user)
    -if not @shop.nil?
      #store
        Магазин: 
        =link_to "www.#{@shop.url}", 'http://'+@shop.url, class: "ellow", target: "_blank"
    #buttons
      #li
        #button
          %a.button.blue_button{:href => "#", :onclick => "$('#select_collecton_modal').arcticmodal({beforeClose: function(data, el) {$('#select_collecton_modal .collectins').slideUp(200)}})"} Хочу
        #info
          =@item.followers_count_cache
          %span.big_hart
      #li
        #button
          = link_to "Беру", @item.url, class: "button ellow_button", target: "_blank"
        #info=@item.prise.to_s+' руб'
    -if @followers.length > 1
      #followers
        - @followers.each do |user|
          - if not user == @user
            %a{:href => user_show_path(user)}=image_tag user.avatar.url(:esmall), :title => user.name
    #followers_count
      =@item.followers_count_cache == 0 ? 'Никто больше не хочет (:' : @item.followers_count_cache.to_s+' '+Russian.p(@item.followers_count_cache, "человек хочет", "человека тоже хотят :)", "человек тоже хотят :)")+''
    -unless @foll_collections.empty?
      #collections
        Добавленно в коллекции:
        -@foll_collections.each do |collection|
          =link_to collection.title, user_collection_path(collection.user,collection)
    - unless @tags.empty?
      #tags
        Отмечено тэгами:
        - @tags.each do |tag|
          =link_to '#'+tag.name, tags_path(tag.name)