:javascript
  $(document).ready(function() {

    // comment
    var submit = $('#comment-form #send_comment')
    var input = $('#comment_content')

    $(input).on('input', function(){
      if ($(this).val() == ''){
        $(submit).fadeOut()
      } else {
        $(submit).fadeIn()
      }
    })

    // select collection
    var cur_col = $('#select_collecton .current')

    $(cur_col).click(function(){
      $('#select_collecton .collectins').slideToggle()
    })

    $(document).on("click", "#select_collecton .collectins li", function(){
      $(cur_col).text($(this).text())
      $(cur_col).attr('id',$(this).attr('id'))
      $(cur_col).click()
    })
  })
#item.gi
  #right
    #image
      =image_tag(@item.image.url(:big))
    #comments
      -if user_signed_in?
        =render partial: 'shared/comment_form'
      .comnt_list
        = render partial: 'shared/comments'
  #left
    #user
      %a{:href => user_show_path(@user)}
        =image_tag @user.avatar.url(:small)
      =link_to @user.name, user_show_path(@user)
      %span.litllnickname=' (@'+(@user.nickname.blank? || @user.nickname == @user.id.to_s ? 'I_AM' : @user.nickname)+')'
      =' добавил эту вещь '+time_ago_in_words(@item.created_at)+' назад.'
    -if not @shop.nil?
      #store
        Магазин: 
        =link_to "www.#{@shop.url}", 'http://'+@shop.url, class: "ellow", target: "_blank"
    #buttons
      #li
        #button
          %a.button.blue_button{:href => "#", :onclick => '$(\'#select_collecton\').arcticmodal()'}Хочу
        #info
          =@item.cached_votes_total
          %span.big_hart
      #li
        #button
          = link_to "Беру", @item.url, class: "button ellow_button", target: "_blank"
        #info=@item.prise.to_s+' руб'
    #followers
      -unless @followers.empty?
        - @followers.each do |user|
          %a{:href => user_show_path(user)}=image_tag user.avatar.url(:esmall), :title => user.name
    #followers_count
      =@followers_count.to_s+' '+Russian.p(@followers_count, "человек хочет", "человека тоже хотят :)", "человек тоже хотят :)")+''
    #collections
      Добавленно в коллекции:
      %a{:href => "#"} Вещи на выхожные
      ,
      %a{:href => "#"} В отпуск
      ,
      %a{:href => "#"} Моему
    #tags
      Отмечено тэгами:
      %a{:href => "#"} #мужское
      %a{:href => "#"} #черное
      %a{:href => "#"} #круто
    #follow
      %a{:href => "#"}
        Подписаться
-if user_signed_in?
  = render partial: 'shared/add_to_collection'