#select_collecton {width: 445px;}
#select_collecton .current {
  font-size: 18px;
  color: #000;
  padding: 5px 15px;
  width: 400px;
  border: 1px #000 solid;
  display: inline-block;
  text-align: center;
  margin: 0;
  cursor: pointer;
}

#select_collecton .collectins {
  width: 430px;
  border: 1px #000 solid;
  margin-top: -1px;
  position: absolute; top: 50;
  background: #fff;
}

#select_collecton .collectins li {
  text-align: center;
  padding: 5px 15px;
  cursor: pointer;
}
#select_collecton .collectins li:hover {
  text-align: center;
  background: #ddd;
}


#select_collecton .new_collection input.new_collection {
  font-size: 18px;
  float: left;
  width: 350px;
}

#select_collecton #collection span.submit {
  background: #ddd;
  width: 400px;
  padding: 5px 15px;
  text-align: center;
  display: block;
  margin-top: 10px;
  cursor: pointer;
  border: 1px #000 solid;
}
#select_collecton #collection span.submit:hover {background: #e2e2e2;}