.search_form input,.search_form input[type="text"] {
  font-size: 18px;
  color: #000;
  padding: 5px 15px;
  height: 40px;
  width: 500px;
  background: #fff;
  border: 1px #000 solid;
  display: inline-block;
  line-height: 40px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
}
.search_form input:focus {box-shadow: 0 0 7px rgba(255, 176, 37, 0.5);border: 1px solid rgba(255, 176, 37, 0.5);}
.search_form input[type="submit"] {
  font-size: 18px;
  color: #fff;
  padding: 5px 15px;
  height: 52px;
  width: 120px;
  background: #1851A0;
  border: 1px #1851A0 solid;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
}
#search_forms li {
  margin-bottom: 15px;
  font-size: 18px;
  display: block;
}
#search_forms li span {
  margin-left: 3px;
}

/* форма для добавления товара */
#itemmodal .first_step .image_preview {height: 200px;}
#itemmodal .second_step .image_preview {height: 111px;}
#itemmodal .center {text-align: center;}
#itemmodal input[type="text"], #select_collecton_modal input[type="text"] {
  font-size: 18px;
  color: #000;
  padding: 5px 15px;
  height: 30px;
  width: 400px;
  background: #fff;
  border: 1px #000 solid;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
}
#itemmodal input:focus {box-shadow: 0 0 7px rgba(255, 176, 37, 0.5);border: 1px solid rgba(255, 176, 37, 0.5);}
#itemmodal select{
  font-size: 18px;
  color: #aaa;
  padding: 5px 15px;
  margin: 0 50px;
  height: 42px;
  width: 432px;
  background: #fff;
  border: 1px #000 solid;
  display: inline;
  font-family: "Arial Narrow",'PT Sans Narrow', Arial, sans-serif;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: -khtml-center;
}
#itemmodal select option {text-align: center;}
#itemmodal input.prise {width: 100px;text-align: left;}
#itemmodal li {
  margin-bottom: 20px;
  display: block;
}
#itemmodal .button {
  font-size: 18px;
  color: #fff;
  height: 50px;
  line-height: 50px;
  width: 200px;
  display: inline-block;
  font-weight: bold;
}
#itemmodal #done.button{margin-top: 60px;}
#itemmodal .button.sex {width: 125px; margin: 0 5px;}
#itemmodal .button.sex.active {background: #CEA120;}
#itemmodal .button.sex.active:hover {background: #E1B025;}
#itemmodal .image {
  text-align: left;
  margin: 10px 0 15px 9px;
  display: inline-block;
  position: relative;
}
#itemmodal .second_step .image .right {float: left;max-width: 350px;}
#itemmodal .second_step .image .right ul li{margin-bottom: 5px;}
#itemmodal .second_step .image .right .name {color: #a47b1c;margin-bottom: 10px;}
#itemmodal .second_step img {
  float: left;
  padding-right: 15px;
}

#itemmodal #select_collecton {position: absolute;bottom: 120px;width: 600px;}
#itemmodal #select_collecton #collection {margin: 0 auto;position: relative;width: 430px;bottom: 0;}
#itemmodal #select_collecton .current {background: #fff; height: 30px; line-height: 30px; font-size: 18px;color: #000;padding: 5px 15px;width: 400px;border: 1px #000 solid;display: inline-block;text-align: center;margin: 0;cursor: pointer;}
#itemmodal #select_collecton .collectins {line-height: 30px;width: 430px;border: 1px #000 solid;border-top: 0; margin-top: 0px;position: absolute; top: 50;background: #fff;}
#itemmodal #select_collecton .collectins li {margin: 0; height: 30px; line-height: 30px;text-align: center;padding: 5px 15px;cursor: pointer;background: #fff;margin-bottom: 1px;}
#itemmodal #select_collecton .collectins li:hover {text-align: center;background: #ddd;}
#itemmodal #select_collecton .new_collection input.new_collection {font-size: 18px;float: left;width: 340px;padding: 5px 10px;background: #ddd; border: 0}
#itemmodal #select_collecton .new_collection input.submit {height: 40px; line-height: 30px; width: 70px; background: #e5b03b;font-size: 18px;padding: 6px 20px;}
#itemmodal #select_collecton .new_collection input.submit:hover {background: #eebc4d;cursor: pointer;}
#itemmodal #select_collecton #collection span.submit {background: #ddd;width: 300px;padding: 5px 15px;text-align: center;display: block;margin-top: 10px;cursor: pointer;border: 1px #000 solid;}
#itemmodal #select_collecton #collection span.submit:hover {background: #e2e2e2;}
/* конец. форма для добавления товара */


/* Movie page */
#bd .movie {margin-left: 30px; margin-top: 20px;}
#bd .movie p {margin-bottom: 12px; font-size: 16px;}
