.search_form input {
  font-size: 18px;
  color: #000;
  padding: 5px 15px;
  height: 40px;
  width: 500px;
  background: #fff;
  border: 1px #000 solid;
  display: inline-block;
  line-height: 40px;
}
.search_form input[type="submit"] {
  font-size: 18px;
  color: #fff;
  padding: 5px 15px;
  height: 52px;
  width: 120px;
  background: #1851A0;
  border: 1px #1851A0 solid;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
}
#search_forms li {
  margin-bottom: 15px;
  font-size: 18px;
  display: block;
}
#search_forms li span {
  margin-left: 20px;
}

/* форма для добавления товара */
#itemmodal .first_step .image_preview {height: 200px;}
#itemmodal .second_step .image_preview {height: 111px;}
#itemmodal .center {text-align: center;}
#itemmodal input[type="text"] {
  font-size: 18px;
  color: #000;
  padding: 5px 15px;
  height: 30px;
  width: 400px;
  background: #fff;
  border: 1px #000 solid;
  display: inline-block;
  line-height: 30px;
  text-align: center;
}
#itemmodal select{
  font-size: 18px;
  color: #aaa;
  padding: 5px 15px;
  margin: 0 50px;
  height: 42px;
  width: 432px;
  background: #fff;
  border: 1px #000 solid;
  display: inline;
  font-family: "Arial Narrow",'PT Sans Narrow', Arial, sans-serif;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: -khtml-center;
}
#itemmodal select option {text-align: center;}
#itemmodal input.prise {width: 100px;text-align: left;}
#itemmodal li {
  margin-bottom: 20px;
  display: block;
}
#itemmodal .button {
  font-size: 18px;
  color: #fff;
  height: 50px;
  line-height: 50px;
  width: 200px;
  display: inline-block;
  font-weight: bold;
}
#itemmodal .button.sex {width: 145px; margin: 0 10px;}
#itemmodal .button.sex.active {background: #CEA120;}
#itemmodal .button.sex.active:hover {background: #E1B025;}
#itemmodal .image {
  text-align: left;
  margin: 10px 0 15px 45px;
  display: inline-block;
  position: relative;
}
#itemmodal .second_step .image .right {float: left;max-width: 350px;}
#itemmodal .second_step .image .right ul li{margin-bottom: 5px;}
#itemmodal .second_step .image .right .name {color: #a47b1c;margin-bottom: 10px;}
#itemmodal .second_step img {
  float: left;
  padding-right: 15px;
}
/* конец. форма для добавления товара */