@charset "utf-8";
/* CSS Document */
/* behavior: url(js/pie.htc); */


/* base */
* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background:#fff;
    font-family: "Arial Narrow", Arial, sans-serif;;
    padding-top: 50px;
    font-size: 12px;
}
a {
    color: #000;
    text-decoration: none;
}
a:hover {
    text-decoration:underline;
}
.clear, .clr {
    display:block;
    clear: both;
    line-height:0;
}
ul, ol, li {
    list-style: none;
}
h1 {
}
h2 {
}
h3 {
}
input, textarea {
    outline:none;
    resize:none;
}
/* base end */

/* header */
header#hd {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  right: 0;
  background: url(../images/header_bg.png) repeat-x #1a5eb7;
  box-shadow: 0 0 6px #ccc;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
}

header#hd nav div.nav_pointer {
  height: 12px;
  width: 30px;
  background: url(../images/nav_pointer.png) no-repeat;
  position: absolute;
  top: 49px;
  left: 446px;
  display: block;
  z-index: -10;
}

header#hd nav {
  line-height: 50px;
  height: 50px;
  margin: 0 auto;
  position: relative;
}

header#hd nav a.nav_logo {
  font-size: 18px;
  font-family: Arial, sans-serif;
  color: #fff;
  text-decoration: none;
}

header#hd nav a.nav_logo:hover {text-decoration: underline;}
header#hd nav a.nav_logo span.nav_end_word {color: #ffc23c;}

header#hd nav div.nav_title {
  position: absolute;
  width: 615px;
  margin-left: 78px;
  text-align: center;
  font-size: 18px;
  font-family: Arial, sans-serif;
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

header#hd nav div.nav_title span.nav_end_word {color: #ffc23c;}

header#hd nav ul {
  position: absolute;
  top: 0;
  right: 42px;
  text-align: right;
}
header#hd nav ul li {
  display: inline-block;
  font-family: "Arial Narrow", Arial, sans-serif;
  font-size: 12px;
  height: 50px;
  line-height: 46px;
}
header#hd nav ul li a {
  color: #fefefe;
  vertical-align: middle;
  display: inline-block;
  padding: 0 0 0 10px;
  text-decoration: none;
  cursor: pointer;
}

header#hd nav ul li a:hover {text-decoration: underline;}
header#hd nav ul li a.nav_user_profile {background: url(../images/nav_user_profile.png) no-repeat 0 10px; padding: 0 0 0 30px;}
/* header end */

div#conteiner {
  position: relative;
  margin: 0 auto;
  z-index: 5;
  top: 35px;
  width: 996px;
  right: 0;
  display: table;
}
/* left group */
  div#left_group {
  position: fixed;
  top: 85px;
  margin: 0 0 0 8px;
  width: 155px;
  height: 100%;
}
/*div#left_group {
  position: absolute;
  top: 0;
  margin: 0 0 0 13px;
  width: 200px;
  height: 100%;
}*/

div#left_group a {
  text-decoration: underline;
  padding: 3px 3px;
}

div#left_group a:hover {
  text-decoration: underline;
  background: #1a5eb7;
  color: #fff;
}

div#left_group ul li {
  height: 36px;
  font-size: 16px;
}

div#left_group div#drug_box {
  color: #937e44;
  font-size: 12px;
  line-height: 18px;
  margin: 30px 0 40px 0;
  padding: 0 30px 0 0;
}

div#left_group div#drug_box div#drug_hart {
  width: 59px;
  height: 48px;
  margin: 10px 0 0 6px;
  background: url(../images/drug_hart.png) #fff;
  display: block;
  position: relative;
}
/* left group end */

/* bd */
div#bd {
  position: relative;
  top: -35px;
  margin: 0 0 0 170px;
  padding: 35px 0 0 0;
  display: block;
  border-left: 1px solid #bbb;
}

#grid_elemets {display: block;}
#grid_elemets section#element {
  width: 230px;
  height: 250px;
  background: #fff;
  display: block;
  float: left;
  margin: 0 0 30px 45px;
  box-shadow: 0 0 8px rgba(0,0,0,0.4);
}

#grid_elemets section#element #preview {width: 100%;height: 180px;background: #ddd;}
#grid_elemets section#element #preview a {width: 100%;height: 100%;display: block;}
#grid_elemets section#element #info {background: #fff;padding: 5px 5px;line-height: 18px;}
#grid_elemets section#element #info #user a {color: #9a781a;}
#grid_elemets section#element #info #user a:hover {color: #ddd3b5;text-decoration: underline;}
#grid_elemets section#element #info #links {margin-top: 3px; }
#grid_elemets section#element #info #links #like {height: 20px;display: inline-block;}
#grid_elemets section#element #info #links #like a {height: 20px; width: 20px;display: inline-block;background: #000;}
#grid_elemets section#element #info #links #like span {line-height: 14px;margin: 0 0 0 2px;position: relative;}
#grid_elemets section#element #info #links #comments {height: 20px;display: inline-block;}
#grid_elemets section#element #info #links #comments a {height: 20px; width: 20px;display: inline-block;background: #000;}
#grid_elemets section#element #info #links #comments span {line-height: 14px;margin: 2px 0;position: relative;}
/* bd end*/

/* right comments */
#right_comments {
  position: absolute;
  right: 0;
  width: 230px;
  display: table;
  float: left;
}

#right_comments section#comment { font-size: 12px; line-height: 18px; padding-right: 15px; margin: -2px 0 20px 0;}
#right_comments section#comment div#name {color: #9a781a;}
#right_comments section#comment div#name a {color: #9a781a;text-decoration: underline;}
#right_comments section#comment div#name a:hover {color: #ddd3b5;}
#right_comments section#comment div#info {color: #bcbcbc;}
/* right comments end */

/* grid row */
.gr {
  width: 980px; 
  margin: 0 auto; 
  text-align: left; 
  font-size: 0; 
  line-height: 0;
  /* grid unit */
}

.g2 { width: 550px; }

#content {
  height: 1500px;
}