@charset "utf-8";
/* CSS Document */
/* behavior: url(js/pie.htc); */


/* base */
* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background:#fff;
    font-family: "Arial Narrow", sans-serif;
    padding-top: 50px;
}
a {
    color: #000;
    text-decoration: none;
}
a:hover {
    text-decoration:underline;
}
.clear, .clr {
    display:block;
    clear: both;
    line-height:0;
}
ul, ol, li {
    list-style: none;
}
h1 {
}
h2 {
}
h3 {
}
input, textarea {
    outline:none;
    resize:none;
}
/* base end */

/* header */
header#hd {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  right: 0;
  background: url(../images/header_bg.png) repeat-x #1a5eb7;
  box-shadow: 0 0 6px #ccc;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
}

header#hd nav div.nav_pointer {
  height: 12px;
  width: 30px;
  background: url(../images/nav_pointer.png) no-repeat;
  position: absolute;
  top: 49px;
  left: 408px;
  display: block;
  z-index: -10;
}

header#hd nav {
  line-height: 50px;
  height: 50px;
  margin: 0 auto;
  position: relative;
}

header#hd nav a.nav_logo {
  font-size: 18px;
  font-family: Arial, sans-serif;
  color: #fff;
  text-decoration: none;
}

header#hd nav a.nav_logo:hover {text-decoration: underline;}
header#hd nav a.nav_logo span.nav_end_word {color: #ffc23c;}

header#hd nav div.nav_title {
  position: absolute;
  width: 75%;
  text-align: center;
  font-size: 18px;
  font-family: Arial, sans-serif;
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

header#hd nav div.nav_title span.nav_end_word {color: #ffc23c;}

header#hd nav ul {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
}
header#hd nav ul li {
  display: inline-block;
  font-family: "Arial Narrow", sans-serif;
  font-size: 14px;
  height: 50px;
  line-height: 46px;
}
header#hd nav ul li a {
  color: #fefefe;
  vertical-align: middle;
  display: inline-block;
  padding: 0 0 0 12px;
  text-decoration: none;
  cursor: pointer;
}

header#hd nav ul li a:hover {text-decoration: underline;}
header#hd nav ul li a.nav_user_profile {background: url(../images/nav_user_profile.png) no-repeat 0 10px; padding: 0 0 0 30px;}
/* header end */

div#conteiner {
  position: relative;
  margin: 0 auto;
  z-index: 5;
  top: 35px;
  width: 935px;
  right: 0;
  display: table;
}
/* left group */
div#left_group {
  position: fixed;
  z-index: 10;
  top: 85px;
  margin: 0 0 0 13px;
  width: 200px;
  height: 100%;
}

div#left_group a {
  text-decoration: underline;
  padding: 3px 3px;
}

div#left_group a:hover {
  text-decoration: underline;
  background: #1a5eb7;
  color: #fff;
}

div#left_group ul li {
  height: 36px;
  font-size: 16px;
}

div#left_group div#drug_box {
  color: #937e44;
  font-size: 12px;
  height: 150px;
  margin: 30px 0 20px 0;
}
/* left group end */

/* bd */
div#bd {
  position: relative;
  top: 0;
  margin: 0 0 0 212px;
  display: block;
}
/* bd end*/

/* grid row */
.gr {
  width: 935px; 
  margin: 0 auto; 
  text-align: left; 
  font-size: 0; 
  line-height: 0;
  /* grid unit */
}

#content {
  height: 1500px;
}