<!DOCTYPE html>
<html>
<head>
  <title>Хочули</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='main'>
    <header id='hd'>
      <nav class='gr'>
        <a href="" class='nav_logo'>ХОЧУ<span class='nav_end_word'>ЛИ</span></a>
        <div class='nav_title'>НОВ<span class='nav_end_word'>ОЕ</span></div>
        <ul class='nav_user'>
          <li><a href="" class='nav_user_profile'>Илья Долинин</a></li>
          <li><a href="">выход</a></li>
        </ul>
      </nav>
      <div calss='nav_pointer'></div>
    </header>
  </div>
  <div id='bd'>
    <div id='content'></div>
      <%= yield %>
  </div>
</body>
</html>
