<!DOCTYPE html>
<html>
<head>
  <title>Хочули</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='main'>
    <header id='hd'>
      <nav class='gr'>
        <a href="" class='nav_logo'>ХОЧУ<span class='nav_end_word'>ЛИ</span></a>
        <div class='nav_title'>НОВ<span class='nav_end_word'>ОЕ</span></div>
        <ul class='nav_user'>
          <li><a href="" class='nav_user_profile'>Илья Долинин</a></li>
          <li><a href="">выход</a></li>
        </ul>
        <div class='nav_pointer'></div>
      </nav>
    </header>
    <div id='conteiner'>
      <div id='left_group'>
        <ul class='big_nav'>
          <li>
            <a href="" class='big_nav_links'>Новое</a>
          </li>
          <li>
            <a href="" class='big_nav_links'>Популярное</a>
          </li>
          <li>
            <a href="" class='big_nav_links'>Женское</a>
          </li>
          <li>
            <a href="" class='big_nav_links'>Мужское</a>
          </li>
          <li>
            <a href="" class='big_nav_links'>Десткое</a>
          </li>
        </ul>
        <div id='drug_box'>
          Перетащите картинку товара сюда:
          <div id='drug_hart'>&nbsp</div>
        </div>
        <ul class='big_nav'>
          <li>
            <a href="" class='big_nav_links'>
              @I AM
            </a>
          </li>
          <li>
            <a href="" class='big_nav_links'>
              Подписчики
            </a>
          </li>
          <li>
            <a href="" class='big_nav_links'>
              Подписки
            </a>
          </li>
          <li>
            <a href="" class='big_nav_links'>
              Лента событий
            </a>
          </li>
        </ul>
        <div id='search'><a href="#">Сделать серч</a></div>
        <ul class='small_nav'>
          <li>Популярные хэш-тэги</li>
          <li><a href="#" class="small_nav_links">#футболки</a></li>
          <li><a href="#" class="small_nav_links">#носки</a></li>
          <li><a href="#" class="small_nav_links">#лето</a></li>
        </ul>
      </div>
      <div id='bd'>
        <div id='content'>
          <%= yield %>
        </div>       
      </div>
    </div>
  </div>
</body>
</html>
