<!DOCTYPE html>
<html>
<head>
  <title>Хочули</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='main'>
    <header id='hd'>
      <nav class='gr'>
        <a href="" class='nav_logo'>ХОЧУ<span class='nav_end_word'>ЛИ</span></a>
        <div class='nav_title'>НОВ<span class='nav_end_word'>ОЕ</span></div>
        <ul class='nav_user'>
          <li><a href="" class='nav_user_profile'>Илья Долинин</a></li>
          <li><a href="">выход</a></li>
        </ul>
        <div class='nav_pointer'></div>
      </nav>
    </header>
    <div id='conteiner'>
      <div id='left_group'>
        <ul>
          <li>
            <a href="">Новое</a>
          </li>
          <li>
            <a href="">Популярное</a>
          </li>
          <li>
            <a href="">Женское</a>
          </li>
          <li>
            <a href="">Мужское</a>
          </li>
          <li>
            <a href="">Десткое</a>
          </li>
        </ul>
        <div id='drug_box'>
          Перетащите картинку товара сюда:
        </div>
        <ul>
          <li>
            <a href="">
              @I AM
            </a>
          </li>
          <li>
            <a href="">
              Подписчики
            </a>
          </li>
          <li>
            <a href="">
              Подписки
            </a>
          </li>
          <li>
            <a href="">
              Лента событий
            </a>
          </li>
        </ul>
      </div>
      <div id='bd'>
        <div id='content'>
          <%= yield %>
        </div>        
      </div>
    </div>
  </div>
</body>
</html>
